.container {
    width: 100%;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;

}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5rem;
    justify-content: center;
}

.header-row {
    display: flex;
    margin-bottom: .5rem;
    margin-right: 14px;
    align-items: center;
    justify-content: center;
}

aside{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}



.col-1{
    width: 8%;
}
.col-2{
    width: 16%;
}
.col-3{
    width: 24%;
}
.col-4{
    width: 32%;
}
.col-5{
    width: 40%;
}
.col-6{
    width: 48%;
}
.col-7{
    width: 56%;
}
.col-8{
    width: 64%;
}
.col-9{
    width: 72%;
}
.col-10{
    width: 80%;
}
.col-11{
    width: 88%;
}
.col-12{
    width: 96%;
}

@media only screen and (max-width: 414px){
    .hint, .cog, .hint-image, .hint-text {
    height: 12vw;
    width: 11vw;
    font-size: 4vw;
    margin-top: 1vw;
    }
    .cog {
    margin-left: 18vw;
    }

    .hint-text{
        display: none;
    }

    .hint-image{
        background-position: center;
    }
    .hint-number {
        font-size: 5.2vw;
        margin-top: 1.2vw;
    }
    main {
        height: 70%;
    }
    .container{
        width: 85%;
    }
    .col-8 {
        width: 100%;
    }
    .row {
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
    }
    .col-1{
        width: 100%;
    }

    .header-row > div > p {
        transform: rotate(0deg);
    }

    .header-row {
        margin: 10px 0 5px 0;
    }
    .col-2 {
        width: 100%;
        height: 15%;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .stats {
        height: 125%;
        background-size: contain;
    }
    .stats > p, stats-lable{
        font-size: 4vw;
    }
    aside {
        height: 15vh;
    }
    .col-s-3{
        width: 30%;
        margin-bottom: 2%;
    }
   .col-9 {
       width: 100%;
       height: 47vh;
   }
   .cyan-glow {
       box-shadow: 0 0 10px cyan;
   }
   .sound-fx > p,
   .bg-music > p{
        margin: 0;
        flex-basis: 100%;
        font-size: 4.5vw;
        word-spacing: .5rem;
    }
    .close-modal {
        font-size: 4vw;
        border: 1px solid #00AEEF;
        border-radius: 40px;
        box-shadow: 0 0 20px rgb(94, 217, 255);
        width: 39vw;
        height: 11vw;
    }
    .modal > p {
        margin: 0;
        flex-basis: 100%;
        font-size: 5.5vw;
    }

}


@media only screen and (min-width: 768px)
and (max-width: 1024px)
and (orientation: portrait){
    .row {
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
    }
    .col-1{
        width: 100%;
    }
    .header-row {
        transform: rotate(0deg);
        margin: 10px 0 5px 0;
    }
    .header-row > div > p {
        font-size: 8vw;

    }

    .col-2 {
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .stats {
        height: 125%;
        background-size: contain;
    }
    .stats > p,
    stats-lable {
        font-size: 3vw;
        width: 54%;
    }
    aside {
        height: 15vh;
    }
    .col-s-3{
        width: 30%;
        margin-bottom: 2%;
    }
   .col-9 {
       width: 100%;
       height: 47vh;
   }
   .cyan-glow {
       box-shadow: 0 0 10px cyan;
   }

   .magenta-glow {
       box-shadow: 0 0 20px magenta;
   }

   .card {
    height: 11vh;
    width: 15vh;
    margin: 9px 20px;
   }
   .modal-bg-image {
       width: 240%;
       height: 100%;
       left: -71%;
   }
   .modal > p {
       font-size: 8.5vw;
   }
   .button > button {
       font-size: 3vw;
       width: 54vw;
   }
}

@media only screen and (min-width: 768px)
and (max-width: 1024px)
and (orientation: landscape){
    body {
        background-size: auto;
        height: 89vh;
    }
    .row {
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
    }
    .col-1{
        width: 100%;
    }
    .header-row {
        transform: rotate(0deg);
        margin: 10px 0 5px 0;
    }
    .header-row > div > p {
        font-size: 8vw;

    }

    .col-2 {
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .stats {
        height: 33vh;
        background-size: contain;
    }
    .stats > p,
    stats-lable {
        font-size: 3vw;
        width: 54%;
    }
    aside {
        height: 15vh;
    }
    .col-s-3{
        width: 30%;
        margin-bottom: 2%;
    }
   .col-9 {
       width: 100%;
       height: 47vh;
   }
   .cyan-glow {
       box-shadow: 0 0 10px cyan;
   }

   .magenta-glow {
       box-shadow: 0 0 20px magenta;
   }

   .card {
    height: 17vh;
    width: 17vh;
    margin: 9px 20px;
   }
   .modal-bg-image {
       width: 240%;
       height: 100%;
       left: -71%;
   }
   .modal > p {
       font-size: 8.5vw;
   }
   .button > button {
       font-size: 3vw;
       width: 54vw;
   }
}
