body {
    height: 97vh;
    background-image: url(../images/customImages/backgroundImage-neon.png);
    background-size: cover;
    margin: 0;
    position: relative;
}

.pacifico-font {
    color: white;
    font-family: "Pacifico", sans-serif;
}

.header-row {
    display: flex;
    color: white;
    font-family: "Monoton", sans-serif;
    text-shadow: 0px 0px 20px rgb(0, 208, 255);
}

.header-row > div > p {
    margin: 0;
    font-size: 10vw;
}

aside > div {
    height: 30vh;
    width: 100%;
    background-image: url(../images/customImages/stats-bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-wrap: wrap;
    align-content: center ;
    justify-content: center;
}



.stats {
   height: 33%;
}

p {
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 3.2vw;
    line-height: 1em;
}

.stat-label {
    font-size: 2vw;
    width: 61%;
    line-height: 1.2em;
    text-align: center;
}

.modal-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}


.modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    color: white;
    font-family: "Monoton", sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #000;
}

.modal-bg-image {
    width: 100%;
    height: 100%;
    background-image: url(../images/customImages/modalImage.png) ;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    animation: spin 60s linear infinite;
    position: absolute;
    z-index: -1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.modal > p {
    margin: 0;
    flex-basis: 100%;
    font-size: 2.5vw;

}

.button {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.button > button {
    border-radius: 30px;
    margin-top: 10px;
    height: 100%;
    background-image: linear-gradient( to top, white, rgb(174, 174, 174), white);
    font-size: 1vw;
    width: 17vw;
}



.card {
    height: 25%;
    position: relative;
}

.card-front, .card-back {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-back {
    border: 1px solid white;
    background-image: url(../images/customImages/back-card-custom.jpg);
    position: absolute;
    top: 0;
}

.cyan-glow {
    box-shadow: 0 0 20px cyan;
}

.magenta-glow {
    box-shadow: 10px 0 40px magenta;
    border: 1px solid white;
    z-index: 1;

}

.css-logo {
    background-image: url(../images/customImages/front-cards/wings-frontCards.png);
}

.docker-logo {
    background-image: url(../images/customImages/front-cards/unicorn-frontCard.png);
}

.gitHub-logo {
    background-image: url(../images/customImages/front-cards/rocket-frontCard.png);
}

.html-logo {
    background-image: url(../images/customImages/front-cards/pizza-frontCard.png);
}

.js-logo {
    background-image: url(../images/customImages/front-cards/lips-frontCard.png);
}

.mysql-logo {
    background-image: url(../images/customImages/front-cards/lighting-frontCard.png);
}

.node-logo {
    background-image: url(../images/customImages/front-cards/hashTag-cardFront.png);
}

.php-logo {
    background-image: url(../images/customImages/front-cards/brokenHeart-cardFront.png);
}

.react-logo {
    background-image: url(../images/customImages/front-cards/angelHeart-cardFront.png);
}

.hidden {
    display: none;
}
