body {
    height: 97vh;
    background-image: url(../images/customImages/backgroundImage-neon.png);
    background-size: 100% 104%;
    background-repeat: no-repeat;
    margin: 0;
    position: relative;
}

.pacifico-font {
    color: white;
    font-family: "Pacifico", sans-serif;
}

.header-row {
    display: flex;
    flex-wrap: nowrap;
    color: white;
    font-family: "Monoton", sans-serif;
    text-shadow: 0px 0px 20px rgb(0, 208, 255);
}

.header-row > div > p {
    margin: 0;
    font-size: 10vw;
    transform: rotate(270deg);

}

aside > div {
    height: 30vh;
    width: 100%;
    background-image: url(../images/customImages/stats-bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-wrap: wrap;
    align-content: center ;
    justify-content: center;
}



.stats {
   height: 33%;
}

p {
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 3.2vw;
    line-height: 1em;
}

.stat-label {
    font-size: 2vw;
    width: 61%;
    line-height: 1.2em;
    text-align: center;
}

.modal-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}


.modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    color: white;
    font-family: "Monoton", sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #000;
}

.modal-bg-image {
    width: 100%;
    height: 100%;
    background-image: url(../images/customImages/modalImage.png) ;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    animation: spin 60s linear infinite;
    position: absolute;
    z-index: -1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.modal > p {
    margin: 0;
    flex-basis: 100%;
    font-size: 2.5vw;
}

.sound-fx > p,
.settings-pink-bg > p{
    margin: 0;
    flex-basis: 32vw;
    font-size: 1.5vw;
    word-spacing: 1rem;
}

.sound-fx {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    flex-basis: 100%;
    height: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/customImages/sound-fx-setting.png);
}
.settings-pink-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    flex-basis: 100%;
    height: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/customImages/bg-music-setting.png);
}

.button {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.button > button {
    border-radius: 30px;
    margin-top: 10px;
    height: 100%;
    background-image: linear-gradient( to top, white, rgb(174, 174, 174), white);
    font-size: 1vw;
    width: 17vw;
}

.card {
    height: 25%;
    position: relative;
}

.hard-card {
    height: 16%;
    position: relative;
}
.card-front, .card-back {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.card-back {
    border: 1px solid white;
    background-image: url(../images/customImages/back-card-custom.jpg);
    position: absolute;
    top: 0;
    transition: all .2s ease-in-out;

}

.card-back:hover, .card-front:hover {
    cursor: pointer;
    transform: scale(1.04);
    z-index: 1;
    box-shadow: 0 0 30px white;
}

.hint:hover, .cog:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.game-mode-text:hover,
.sound-fx-text:hover,
.bg-music-text:hover,
.close-modal:hover {
    cursor: pointer;
}

.cyan-glow {
    box-shadow: 0 0 10px cyan;
    z-index: 0;
}

.magenta-glow {
    box-shadow: 0 0 60px magenta;
    border: 1px solid white;
    z-index: 1;

}

.cog {
    background-image: url(../images/customImages/settingsCog.png);
    width: 3.5vw;
    height: 3.5vw;
    background-size: cover;
    margin-top: 2vw;
}

.cog:active{
    transform: scale(.9);
}

.hint, .cog {
    transition: all .2s ease-in-out;
}

.hint, .feature {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.hint:active {
    transform: scale(.9);
}

.hint-disabled {
    opacity: 25%;
    filter: grayscale(25%)
}

.hint-image {
    height: 4vw;
    width: 4vw;
    background-image: url(../images/customImages/hintCounter.png);
    background-size: cover;
}

.hint-number {
    font-size: 1.7vw;
    margin-top: .3vw;
}

.hint-text {
    flex-basis: 100%;
    font-size: 1.3vw;
    color: rgba(255, 0255, 0255, 0.3);
    text-shadow: 0px 0px 20px rgb(0, 208, 255);
}

.hint-glow{
    box-shadow: 0 0 100px yellow;
    border: 1px solid white;
    z-index: 1;
}

.hint-modal-bg-image {
    width: 100%;
    height: 114%;
    background-image: url(../images/customImages/hintSelectCard.png) ;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

.close-modal {
    font-size: 2vw;
    color: rgba(255, 0255, 0255, 0.7);
    background-color: rgba(0, 0, 0, 0.0);
    border: 4px solid #00AEEF;
    border-radius: 40px;
    box-shadow: 0 0 100px rgb(94, 217, 255);
    width: 20vw;
    height: 5vw;
}

.close-modal:active{
    transform: scale(.9);
}

.modal-stats {
    text-transform: none;
}

.css-logo {
    background-image: url(../images/customImages/front-cards/wings-frontCards.png);
}

.docker-logo {
    background-image: url(../images/customImages/front-cards/unicorn-frontCard.png);
}

.gitHub-logo {
    background-image: url(../images/customImages/front-cards/rocket-frontCard.png);
}

.html-logo {
    background-image: url(../images/customImages/front-cards/pizza-frontCard.png);
}

.js-logo {
    background-image: url(../images/customImages/front-cards/lips-frontCard.png);
}

.mysql-logo {
    background-image: url(../images/customImages/front-cards/lighting-frontCard.png);
}

.node-logo {
    background-image: url(../images/customImages/front-cards/hashTag-cardFront.png);
}

.php-logo {
    background-image: url(../images/customImages/front-cards/brokenHeart-cardFront.png);
}

.react-logo {
    background-image: url(../images/customImages/front-cards/angelHeart-cardFront.png);
}

.cow-logo {
    background-image: url(../images/customImages/front-cards/cow-cardFront.png);
}

.banana-logo {
    background-image: url(../images/customImages/front-cards/banana-cardFront.png);
}

.blue-lightning-logo {
    background-image: url(../images/customImages/front-cards/blueLightning-cardFront.png);
}

.comment-bubble-logo {
    background-image: url(../images/customImages/front-cards/commentBubble-cardFront.png);
}

.fireworks-logo {
    background-image: url(../images/customImages/front-cards/fireWorks-cardFront.png);
}

.glasses-logo {
    background-image: url(../images/customImages/front-cards/glasses-cardFront.png);
}

.hotdog-logo {
    background-image: url(../images/customImages/front-cards/hotDog-cardFront.png);
}

.question-logo {
    background-image: url(../images/customImages/front-cards/question-cardFront.png);
}

.smileyface-logo{
    background-image: url(../images/customImages/front-cards/smileyFace-cardFront.png);
}

.hidden {
    display: none;
}
