body {
    height: 97vh;
    background-image: url(../images/customImages/backgroundImage-neon.png);
    background-size: cover;
    margin: 0;
    position: relative;
}

.pacifico-font {
    color: white;
    font-family: "Pacifico", sans-serif;
}

.header-row {
    display: flex;
    color: white;
    font-family: "Monoton", sans-serif;
    text-shadow: 0px 0px 20px rgb(0, 208, 255);
}

.header-row > div > p {
    margin: 0;
    font-size: 10vw;
}

aside > div {
    height: 30vh;
    width: 100%;
    background-image: url(../images/customImages/stats-bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-wrap: wrap;
    align-content: center ;
    justify-content: center;
}



.stats {
   height: 33%;
}

p {
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 1.2vw;
}

.modal-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 45%;
    height: 30%;
    background-image: linear-gradient(to top right, cyan, magenta) ;
    color: white;
    font-size: 3rem;
    border-radius: 200px;
    text-shadow: 1px 1px 5px #000;
    box-shadow: 0 0 100px cyan;
    border: 2px solid rgb(161, 249, 255);
}

.modal > p {
    margin: 0;
    flex-basis: 100%;
}

.button {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.button > button {
    border-radius: 20px;
    margin-top: 10px;
    height: 100%;
    background-image: linear-gradient( to top, white, rgb(174, 174, 174), white);
    font-size: 1rem;
    padding: 10px 20px;
}



.card {
    height: 25%;
    position: relative;
}

.card-front, .card-back {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;

}

.card-back {
    border: 1px solid white;
    box-shadow: 0 0 20px cyan;
    background-image: url(../images/customImages/back-card-custom.jpg);
}

.magenta-glow {
    box-shadow: 0 0 20px magenta;
    border: 1px solid white;

}

.css-logo {
    background-image: url(../images/css-logo.png);
}

.docker-logo {
    background-image: url(../images/docker-logo.jpg);
}

.gitHub-logo {
    background-image: url(../images/gitHub-logo.png);
}

.html-logo {
    background-image: url(../images/html-logo.png);
}

.js-logo {
    background-image: url(../images/js-logo.png);
}

.mysql-logo {
    background-image: url(../images/mysql-logo.jpg);
}

.node-logo {
    background-image: url(../images/node-logo.png);
}

.php-logo {
    background-image: url(../images/php-logo.jpeg);
}

.react-logo {
    background-image: url(../images/react-logo.png);
}

.hidden {
    display: none;
}
